---
import Covers from './Covers.astro'
---


<div class="container covers-container" id="covers_container">
    <Covers />
</div>


<style>
    .container.covers-container
    {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        height: 80px;
        width: 80%;
        max-width: 700px;
    }
</style>