<div class="record-player" id="record_player"></div>


<style>
    .record-player
    {
        background-color: var(--record-player-background-color);
        height: 400px;
        width: 100%;
    }
</style>