---
import Turntable from './Turntable.astro'
---

<div class="record-player" id="record_player">
    <Turntable />
</div>


<style>
    .record-player
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--record-player-background-color);
        height: 400px;
        width: 80%;
        max-width: 700px;
        border-radius: calc(var(--base-border-radius) * 2);
    }
</style>